[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
veritas_curation = "GUUnua8NmaJQKvseg1oGXcZn3Ddh1RGrDnaiXRzQUvew"

[programs.mainnet]
veritas_curation = "GUUnua8NmaJQKvseg1oGXcZn3Ddh1RGrDnaiXRzQUvew"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/content-pool-icbs.test.ts tests/pool-factory-icbs.test.ts tests/fee-calculation.test.ts tests/fee-config.test.ts tests/trade-fees.test.ts tests/upgrade-authority-prototype.test.ts tests/debug-lambda-calc.test.ts"
